@charset "utf-8";

.fade{
    animation-name: fadeAnime;
    animation-duration: 2.0s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
    opacity:0;
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 1.0s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
    opacity:0;
}

.delay-025s{
    animation-delay:0.25s;
}

.delay-05s{
    animation-delay:0.5s;
}

.delay-075s{
    animation-delay:0.75s;
}

.delay-1s{
    animation-delay:1s;
}

.delay-125s{
    animation-delay:1.25s;
}

.delay-15s{
    animation-delay:1.5s;
}


.duration-025s{
    animation-duration:0.25s;
}

.duration-05s{
    animation-duration:0.5s;
}

.duration-075s{
    animation-duration:0.75s;
}

.duration-1s{
    animation-duration:1.0s;
}

@keyframes fadeAnime{
    from{
        z-index:1;
        opacity:0%;
    }
    to{
        z-index:1;
        opacity:100%;
    }
}

@keyframes fadeUpAnime{
    from{
        z-index:1;
        opacity:0%;
        transform: translateY(50px);
    }
    to{
        z-index:1;
        opacity:100%;
        transform:translateY(0);
    }
}