@charset "utf-8";
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap);

header{
    display:flex;
    color:rgb(236, 236, 236);
    height:70px;
    background: linear-gradient(170deg, 
        rgb(0, 0, 0), rgb(17, 36, 70) 70%, rgb(62, 74, 88) );
}

header img{
    height:70px;
}

header ul{
    float:left;
    display:flex;
    padding-left: 0;
    margin-top:0px;
    height:70px;
}

header ul li{
    font-family: 'Quicksand', sans-serif;
    text-align:center;
    font-weight:bold;
    width: 160px;
    padding-top:21px;
    padding-bottom:21px;
    animation:HeaderunhoverAnime 0.3s forwards;
}

header ul li:hover{
    animation:HeaderhoverAnime 0.3s forwards;
}

header ul li:focus-within{
    background-color : rgb(70, 70, 70);
}

header ul li a{
    color:white;
    font-family:'Quicksand', sans-serif;
    font-weight:bold;
    font-size:27px;
    height:100%;
    padding-top:17px;
    padding-bottom:17px;
}

@keyframes HeaderhoverAnime {
    0%{
        background-color : rgb(100, 100, 100, 0);
    }
    100%{
        background-color : rgb(165, 165, 165, 0.2);
    }
}

@keyframes HeaderunhoverAnime {
    0%{
        background-color : rgb(165, 165, 165, 0.2);
    }
    100%{
        background-color : rgb(100, 100, 100, 0);
    }
}

@media screen and (max-width:972px){
    header{
        display:inline-block;
        width:100%;
        height:auto;
    }
    header .header_icon{
        text-align:center;
    }
    header ul{
        float:none;
        display:inline;
        padding:0px;
    }
    header ul li{
        width:inherit;
        text-align:center;
        height: 35px;
        padding:20px;
        padding-top:0px;
    }
    header ul li a{
        display:block;
        height:100%;
        font-size:25px;
        padding:10px;
    }
}

@media screen and (max-width:480px){
    header{
        display:inline-block;
        width:100%;
        height:auto;
    }
    header .header_icon{
        text-align:center;
    }
    header ul{
        float:none;
        display:inline;
    }
    header ul li{
        width:inherit;
        text-align:center;
        height: 35px;
    }
    header ul li a{
        display:block;
        font-size:20px;
    }
}