.postslist a{
    width:350px;
    height:425px;
    display:inline-flex;
    list-style: none;
    margin-bottom:2%;
    border-radius: 25px;
    text-decoration-line:none;
    animation:postunhoveranime 0.5s forwards;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.postslist a:hover{
    list-style: none;
    animation:posthoveranime 0.5s forwards;
}

.postslist a li{
    width: 75%;
    font-size: 27px;
    margin-left:2%;
    color:#3b3b3b;
}
.postslist a li h1{
    width: 130%;
    font-size: 27px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.postslist a li p{
    font-size: 18px;
    margin-left:4%;
    color:#3b3b3b;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.postslist a li p.days{
    font-size: 13px;
    margin-top:3%;
    margin-left:0px;
    color:#3b3b3b;
    text-decoration-line:none;
}

.postslist a img{
    margin-top:10px;
    width:325px;
    height:182px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    border-radius:5px;
    animation:postslistpicunhover 0.3s forwards;
}

@media screen and (max-width:768px){
    h1{
        margin-top:0%;
        font-size:40px;
    }
    .postslist a{
        display:block;
        width:100%;
        height:120%;
        margin-left:-6%;
        margin-bottom:20px;
        border-radius: 20px;
    }

    .postslist a li{ 
        width: 98%;
        font-size: 25px;
    }
    
    .postslist a li p{
        margin-left:1%;
        margin-top:1%;
        margin-bottom:0%;
        font-size: 16px;
    }
    
    .postslist a li p.days{
        margin-left:-2%;
        font-size: 15px;
    }

    .postslist a li h1{
        width:100%;
    }

    .postslist a img{
        width:96%;
        height:96%;
        margin-bottom:-1%;
    }
}

table {
    border-collapse: collapse;
}
table, th, td {
    padding: 8px;
    padding-right: 40px;
    border: 2px solid;
    border-color: #333;
}
table th{
    background: rgb(139, 139, 139);
}
table tr:nth-child(odd) td {
	background: #ccc;
}

.postslist ul a li .postspic{
    display: grid;
    justify-content: right;
    width:20%;
    min-height:auto;
    align-items: center;
}

.postpic{
    width:100%;
    align-items: center;
    border-radius: 5px;
    margin-bottom:30px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 1);
    animation:postpicunhover 0.3s forwards;
}

.postpic:hover{
    transform:scale(1.05);
    animation:postpichover 0.3s forwards;
}

.article{
    z-index:2;
    font-size:20px;
    line-height: 200%;
    width: 60%;
    min-width: 700px;
    margin-left:20%;
    background-color: rgb(245, 245, 245);
    border-top: 10px solid rgb(245, 245, 245);
    border-right: 15px solid rgb(245, 245, 245);
    border-left: 25px solid rgb(245, 245, 245);
    border-bottom: 10px solid rgb(245, 245, 245);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);
    border-radius: 10px;
}

@media screen and (max-width:768px){
    .article{
        font-size: 16px;
        width:100%;
        margin-left:0px;
        display: inline-block;
        min-width: 0px;
    }    
}

@keyframes posthoveranime {
    0%{
        background-color: rgb(240, 240, 240);
        border-top:10px solid rgb(240, 240, 240);
        border-left:10px solid rgb(240, 240, 240);
        border-bottom:10px solid rgb(240, 240, 240);
    }
    100%{
        background-color: rgb(220, 220, 220);
        border-top:10px solid rgb(220, 220, 220);
        border-left:10px solid rgb(220, 220, 220);
        border-bottom:10px solid rgb(220, 220, 220);
    }
}
@keyframes postunhoveranime {
    0%{
        background-color: rgb(220, 220, 220);
        border-top:10px solid rgb(220, 220, 220);
        border-left:10px solid rgb(220, 220, 220);
        border-bottom:10px solid rgb(220, 220, 220);
    }
    100%{
        background-color: rgb(240, 240, 240);
        border-top:10px solid rgb(240, 240, 240);
        border-left:10px solid rgb(240, 240, 240);
        border-bottom:10px solid rgb(240, 240, 240);
    }
}

@keyframes postpichover {
    0%{
        transform:scale(1.0);
    }
    100%{
        transform:scale(1.02);
    }
}

@keyframes postpicunhover {
    0%{
        transform:scale(1.02);
    }
    100%{
        transform:scale(1.0);
    }
}
