.article_list{
    margin:0 auto;
}

.article_list ul {
    list-style: none;
    display:inline-flex;
    flex-wrap: wrap;
}

.article_list ul li{
    width:100%;
    width:550px;
    height:425px;
    padding-left:10px;
    padding-right:10px;
}

.article_pic{
    width:100%;
}